appdirs==1.4.3
click==6.6
Flask==0.11.1
gunicorn==19.6.0
inflect==0.2.5
itsdangerous==0.24
jaraco.itertools==2.0.1
Jinja2==2.8
MarkupSafe==0.23
more-itertools==2.5.0
packaging==16.8
pyparsing==2.2.0
requests==2.10.0
simplejson==3.10.0
six==1.10.0
Werkzeug==0.11.10
wit==4.2.0
wolframalpha==3.0
xmltodict==0.10.2
